<h1>Flug suchen</h1>
<div class="form-group">
  <label>From: {{from}} - {{to}}</label>
  <input [(ngModel)]="from" class="form-control">
</div>
<div class="form-group">
  <label> To: </label>
  <input [(ngModel)]="to" class="form-control">
</div>
<div class="form-group">
  <button class="btn btn-default" (click)="search()" [disabled]="!from || !to">Suchen</button>
</div>
<div class="container-fluid">
  <div class="row">
    <div *ngFor="let f of flights">
      <flight-card [item]="f" [(selected)]="basket[f.id]"></flight-card>
      <app-date-component [(date)]="date"></app-date-component>
    </div>
  </div>
</div>
<pre>Warenkorb
  -----------------------------
  {{ basket | json }}

</pre>