<!-- <div class="container"> -->
<div class="row">
  <div class="col-sm-4 col-md-3 col-lg-2">
    <ul class="nav nav-pills nav-stacked" style="margin-top: 20px; margin-left: 20px">
      <li routerLinkActive="active">
        <a routerLink='./flight-search'>Flug auswählen</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink='./passenger-search'>Passagier auswählen</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-8 col-md-7 col-lg-8">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- </div> -->